<!DOCTYPE html>
<html>
  <head>
    <title>moomin valley</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("ムーミン谷","/",class:"link") %>
      </div>
        <ul class="header-menu">
          <li>
            <%= link_to("七夕","/posts/index",class:"link") %>
          </li>
          <li>
            <%= link_to("10先","/st10",class:"link") %>
          </li>
        </ul>
    </header>
    <div class = "main">
    <%= yield %>
    </div>
  </body>
</html>
